<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Medigreen</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <!--One extra jarifs add-->
    <link rel="stylesheet" type="text/css" href="css/all.min.css">
    <!--ends-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
     <!--My CSS jarif-->
     <link rel="stylesheet" href="css/jarifIndex.css">
     <link rel="stylesheet" href="css/signUp.css">
</head>
<body class="main-layout">
    <!-- loader  -->
    <!--
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    -->
    <!-- end loader -->
    <!-- header -->
    <header> 
        <!-- header inner -->
        <div class="header">

            <div class="container">
                
                <div class="row">
                    
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                
                                <div class="logo">
                                    <a href="#!"><img src="images/logo.png" alt="MGLogo" onclick="loginFirst()"style="margin-left: -50%;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pt-3 pt-5">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main"style="margin-left: -17%;">
                                        <li class="active nav-btn"><a href="#!" onclick="loginFirst()" class="text-muted">Home</a> </li>
                                        <li class="active nav-btn"><a href="#!" onclick="loginFirst()" class="text-muted">About Us</a> </li>
                                        <li class="active nav-btn"><a href="#!" onclick="loginFirst()" class="text-muted">Products</a></li>
                                        <li class="active nav-btn"><a href="#!" onclick="loginFirst()" class="text-muted">My Cart</a></li>
                                        
                                        <!--
                                        <li class="active nav-btn"><a href="/forum" class="text-muted">Forum</a></li>
                                        -->
                                        <li class="active nav-btn"><a href="#!" onclick="loginFirst()" class="text-muted">My Order</a></li>
                                        <li class="active nav-btn"><a href="#!" onclick="loginFirst()" class="text-muted">Experts</a></li>
                                        <li class="active nav-btn"><a href="#!"class="text-muted">Log In</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <div class="login_body">
        <div class="login_container">
            <div class="login_header">
                <h2 style="text-align: center;">Login</h2>
            </div>
            <div class="login_main">
                <form style="text-align: center;"method="post"action="/login">
                    <span>
                        <i class="fa fa-user"></i>
                        <input  type="text" placeholder="Type Correct Phone Number" name="phone_no" required>
                    </span><br>
                    <span>
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Type Correct password" name="password" required>
                    </span><br>
                        <button>Submit</button>
                        
                </form>
                <form style="text-align: center;"method="post"action="/sign_upp">
                    <button class="read-more">Create New Account</button>
                </form>

                <a href="/admin_index"><button class="read-more">Login as Admin</button></a>
            </div>
        </div>
    </div>
    
    
    <!--Popup screen. if existing data is given, show up-->
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Wrong phone number or password</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Given phone number or password did not match!<br>Try again
            </div>
        </div>
    </div>
    <!--Popup screen-->
    
    
    <!--Footer-->
        <!-- Copyright 
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright: (MediGreen)
            <a class="text-reset fw-bold" href="https://www.facebook.com/bijoysaeem">Bijoy</a> -
            <a class="text-reset fw-bold" href="https://www.facebook.com/JarifIslam001/">Jarif</a>
        </div>
         Copyright -->
        <!--Footer ends-->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript -->
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });
    
            $(".zoom").hover(function() {
    
                $(this).addClass('transition');
            }, function() {
    
                $(this).removeClass('transition');
            });
        });

        function loginFirst(){
            alert('Please login first');
        }

    </script>
    </body>
    </html>
